*{
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: "PingFang SC", "Microsoft YaHei", sans-serif !important;
  font-size: 14px;
  line-height: 20px;
  color: white;
  background-color: #101010;
}

header{
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #000;
}
header > div{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

div#mainDiv{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
div#mainDiv > div.list{
  width: 250px;
}
div#mainDiv > div.markdown-body{
  flex: 1 1 auto;
}

footer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

div.tools{
  position: fixed;
  right: 2%;
  bottom: 2%;
}