*{
  margin: 0;
  padding: 0;
}

body{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "PingFang SC", "Microsoft YaHei", sans-serif !important;
  font-size: 14px;
  line-height: 20px;
  background-color: #eee;
}

div#content{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

div#content > header{
  width: 80%;
  height: 80px;
  padding: 0 10%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
}
header > #blogName{
  font-size: 26px;
  font-weight: bold;
}
header > #subName{
  font-size: 14px;
  color: gray;
  margin-left: 10px;
}

div#mainDiv{
  margin: 10px 0;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
div#mainDiv > div.list{
  width: 250px;
}
div#mainDiv > article.markdown-body{
  margin: 0 10px;
  padding: 5px 10px;
  flex: 1 1 auto;
}

footer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

div.tools{
  position: fixed;
  right: 2%;
  bottom: 2%;
}


.list{
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}
.list li{
  list-style: none;
  width: 90%;
  cursor: pointer;
  padding: 5px 5%;
  display: block;
  border-bottom: 1px solid lightgray
}
.list li:last-child{
  border-bottom: none
}
.list li p{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 4px 0
}
.selected{
  border-left: 3px solid black;
  color: black
}
.title{
  font-size: 1.3em;
}

.subtext{
  font-size: 0.9em;
  color: gray
}

.markdown-body{
  background-color: white;
}
.markdown-body .title{
  text-align: center;
  font-size: 1.9em;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.markdown-body .subtitle{
  text-align: center;
  margin: 0;
  padding: 0
}
.markdown-body .date{
  text-align: right;
  border-bottom: 1px lightgray solid
}

.tag{
  height: 20px;
  margin: 0 5px;
  background-color: #555;
  color:white;
  padding: 0 2px;
  border-radius: 5px;
  font-size: 0.9rem;
}

.tools{
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 40px;
  height: auto;
}

.tools button{
  background-color: black;
  border: none;
  width: 40px;
  height: 40px;
  margin: 2px 0;
  cursor: pointer;
  font-size: 30px;
  line-height: 40px;
  color: white;
}