*{
  margin: 0;
  padding: 0;
}

body{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
  background-color: #eee;
  color: #121212;
  font-size: 18px;
}

#content{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#content > header{
  width: 90%;
  height: 80px;
  padding: 0 5%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  line-height: 30px;
}
header > #blogName{
  font-size: 26px;
  line-height: 40px;
  font-weight: bold;
}
header > #subName{
  font-size: 16px;
  color: gray;
  margin-left: 15px;
}

#mainDiv{
  margin: 10px 0;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
#mainDiv > .list{
  width: 250px;
  opacity: 0;
}
#mainDiv > article.markdown-body{
  /* margin: 0 10px; */
  padding: 20px;
  flex: 1 1 auto;
  opacity: 0;
}

footer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  opacity: 0;
  margin: 10px 0;
  margin-top: 100px;
  padding: 30px 0;
}
footer > #endWords{
  padding-bottom: 10px;
}

.list{
  /* background-color: white; */
}
.list > p{
  color: gray;
  padding: 5px 0;
  margin-top: 10px;
  font-size: 14px;
  line-height: 20px;
}
.list li{
  list-style: none;
  width: 90%;
  cursor: pointer;
  padding: 10px 5%;
  display: block;
  color: #121212;
  /* border-bottom: 1px solid lightgray; */
}
.list li:last-child{
  border-bottom: none
}
.list li p{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.list li.selected{
  background-color: white;
  border-left: 2px solid #222222;
  color: #222222;
}
.title{
  font-size: 18px;
  padding: 3px 0;
}

.subtext{
  font-size: 12px;
  color: gray
}

.markdown-body{
  background-color: white;
}
.markdown-body .title{
  text-align: center;
  font-size: 32px;
  line-height: 50px;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.markdown-body .subtitle{
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  margin: 0;
  padding: 0
}
.markdown-body .date{
  border-bottom: 1px lightgray solid;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
}

.tag{
  height: 20px;
  margin-right: 5px;
  background-color: #AAAAAA;
  color: white;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: 12px;
}

.tools{
  position: fixed;
  right: 5%;
  bottom: 40px;
  width: 40px;
  height: auto;
}

.tools > button{
  background-color: #222222;
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
  margin: 2px 0;
  cursor: pointer;
  font-size: 24px;
  line-height: 40px;
  color: white;
}

/* 未来适配 */
/* @media (max-width: 960px) {
  .container-full{
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .container{
    float: left;
    width: 100%;
    margin: 15px 0;
  }
  .row{
    float: left;
    width: 100%;
    margin: 5px 0;
  }
  .col-xs{
    float: left;
    width: 90%;
    padding: 8px 1%;
    margin: 5px 4%
  }
  .col-xs-full{
    float: left;
    width: 90%;
    padding: 8px 5%;
    margin: 5px 0
  }
  #blogName{
    font-size: 1.4em !important;
    margin-left: 5%;
  }
  .tools{
    display: none;
  }
  .list{
    display: none;
  }
} */

/* @media (min-width: 960px) {
  .container-full{
    float: left;
    width: 100%;
  }
  .container{
    float: left;
    width: 70%;
    margin: 15px 15%;
  }
  .row{
    float: left;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .col-md-3{
    float: left;
    width: 26%;
    padding: 10px 1%;
    margin: 0 1%
  }
  .col-md-7{
    float: left;
    width: 67%;
    padding: 20px 1%;
    margin: 0 1% 0 0
  }
}

header, .list, article, footer{
  opacity: 0;
} */